<div class="row">
  <div class="col-md-8">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item"  *ngFor="let s of slider; let i=index"  [class.active]="i == 0">
            <a routerLink="{{s.link}}">
              <img class="d-block w-100" src="{{s.image}}" alt="{{s.alt}}">
            </a>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-4">
      <div class="ad" *ngFor="let s of side">
        <a href="{{ s.link }}">
            <img src="{{ s.image }}" alt="{{ s.alt }}">
        </a>
      </div>
  </div>
</div>

