.row{margin-right: 0px;margin-left: 0px;}
.carousel-indicators{
bottom: 3px;
margin-bottom: 0px;
}
.ad{
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.ad img{
    width: 100%;
    max-height: 93px;
}
.col-md-8{
    padding: 0px;
}
.col-md-4{
    padding-left:10px;
}
.w-100{
    min-height: 290px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .w-100{
        min-height: 100%;
    }
    .col-md-4{
        display: none;
    }
.carousel-indicators{
bottom: 3px;
margin-bottom: 0px;
}
}
