.carousel-indicators{
bottom: 3px;
margin-bottom: 0px;
}
.ad{
    margin-bottom: 5px;
}
.ad img{
    width: 100%;
    max-height: 93px;
}
.col-md-8{
    padding: 0px;
}
.col-md-4{
    padding-left:0px;
}
.w-100{
    min-height: 290px;
}
@media (min-width: 320px) and (max-width: 480px) {
    .col-md-4{
        display: none;
    }
.carousel-indicators{
bottom: 3px;
margin-bottom: 0px;
}
}
