<div id="search-page">
    <div class="container">
      <div class="row">
        <div class="col-md-3 category-filter">
  
  
        </div>
        <div class="col-md-9 category-products">
          <div class="row">
            <div class="col-md-12">
              <div class="category-header">
                <a routerLink="#">
                  <img src="/assets/images/Categories/Category slider- Mobile.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="col-md-12 category-name-wrapper">
              <h1 class="category-name" itemprop="name" category="">
                Searched For:{{ id }}<span class="category-count">({{ count }} Items)</span>
              </h1>
              <div class="search">
                <input placeholder="search text goes here" (keyup)="searchList($event)">
              </div>
            </div>
            <div class="col-md-12 category-sort">
  
            </div>
            <app-loading *ngIf="loading"></app-loading>
            <ng-template [ngIf]="utils.isLoaded(loading)">
              <ng-template [ngIf]="products">
                <ng-template [ngIf]="products.length">
                  <div class="row">
                    <div class="col-md-3 col-xs-6" *ngFor="let product of pagedItems">
                      <!-- <a [routerLink]="['/product', product.url]">
                          <h5 class="mb-1" [innerHTML]="product.title"></h5>
                      </a> -->
                      <div class="product-container">
                        <a routerLink="/product/{{product.url}}">
                          <div class="product-inner">
                            <div class="product-img">
                              <img src="{{imageUrl}}/products/{{ product.images[0][0] }}" alt="{{ product.title }}">
                            </div>
                            <div class="product-info">
                              <div class="prod-title">
                                {{ product.title }}
                              </div>
                              <div class="prod-price">
                                <ng-container *ngIf="product.stock != 2">
                                  <ng-container *ngIf="product.special_price == 0">
                                    Ksh. {{ product.price | number:0 }}
                                  </ng-container>
                                  <ng-container *ngIf="product.special_price !=0">
                                    Ksh. {{ product.special_price | number:0 }}
                                    <div class="discount">
                                      Ksh. {{ product.price | number:0 }}
                                    </div>
                                  </ng-container>
                                </ng-container>
                                <ng-container *ngIf="product.stock == 2">
                                  <div class="upcoming">
                                    Upcoming
                                  </div>
                                </ng-container>
                              </div>
                              <div class="prod-rate">
  
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <!-- pager -->
                      <nav aria-label="Page navigation example">
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                              <a (click)="setPage(1)" class="page-link">First</a>
                          </li>
                          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                              <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
                          </li>
                          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                              <a (click)="setPage(page)" class="page-link">{{page}}</a>
                          </li>
                          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                              <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
                          </li>
                          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                              <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </ng-template>
              </ng-template>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  