<footer *ngIf="mobile_view" class="mobile_view">
  <div class="social clearfix">
    <div class="head">
      Connect
    </div>
    <div class="body">
      <ul>
        <li>
          <a href="https://www.facebook.com/ZuricartKE/" target="_blank">
            <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/zuricartke" target="_blank">
            <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/zuricartke/" target="_blank">
            <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/u/0/108673607692864501872" target="_blank">
            <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=2547######">
            <i class="fab fa-whatsapp-square"></i>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="info row">
    <div class="col-6">
      <div class="links">
        <ul>
          <li>
            <a href="#">How To Order</a>
          </li>
          <li>
            <a href="#">Return Policy</a>
          </li>
          <li>
            <a routerLink="/blogs">Blogs</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-6">
      <div class="contacts">
        <div class="info">
          <p>Zuricart Limited</p>
          <p>Jamia Plaza, 2nd Floor
            </p>
          <p>Wing B</p>
          <p> 0712944000 </p>
          <p>Nairobi, Kenya</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      Copyright &copy; {{date| date:'yyyy'}} Zuricart Limited.
    </div>
  </div>
</footer> 
<footer *ngIf="desktop_view">
    <div class="bottom-footer">
        <!-- <div class="tags-footer clearfix">
            <div class="container">
              <div class="body">
                <ul>
                  <li>
                    Popular Search
                  </li>
                  <li *ngFor="let s of tags">
                    <a routerLink="/tag/{{ s.url }}">
                      {{ s.title }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
           
        
      </div>
  <div class="serv">
    <div class="row">
        <div class="col-md-3">
          <div class="serv-cont">
              <div class="serv-inner clearfix">
                <div class="serv-icon">
                    <img src="https://res.cloudinary.com/zuricart/image/upload/v1540981987/footer/Artboard_1_3.png" alt="truck">
                </div>
                <div class="serv-txt">
                  <div class="serv-head">
                      Delivery Everywhere
                  </div>
                  <div class="serv-msg">
                      Let us deliver where you are
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="serv-cont">
                <div class="serv-inner clearfix">
                  <div class="serv-icon">
                      <img src="https://res.cloudinary.com/zuricart/image/upload/v1540981982/footer/Artboard_4_2.png" alt="">
                  </div>
                  <div class="serv-txt">
                    <div class="serv-head">
                        100% Value
                    </div>
                    <div class="serv-msg">
                        Get value for every product
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="serv-cont">
                  <div class="serv-inner clearfix">
                    <div class="serv-icon">
                        <img src="https://res.cloudinary.com/zuricart/image/upload/v1540981985/footer/Artboard_2_2.png" alt="">
                    </div>
                    <div class="serv-txt">
                      <div class="serv-head">
                          7 Days Easy Return
                      </div>
                      <div class="serv-msg">
                          Free Return Process.
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="serv-cont">
                    <div class="serv-inner clearfix">
                      <div class="serv-icon">
                          <img src="https://res.cloudinary.com/zuricart/image/upload/v1540981983/footer/Artboard_3_3.png" alt="">
                      </div>
                      <div class="serv-txt">
                        <div class="serv-head">
                            Customer Care
                        </div>
                        <div class="serv-msg">
                            0712944000
                        </div>
                      </div>
                    </div>
                </div>
              </div>
    </div>
  </div>
   <div class="foot-pay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="head">
            Payment
          </div>
          <div class="body">
            <ul>
              <li>
                <i class="fas fa-credit-card fa-lg"></i>
              </li>
              <li>
                <i class="fab fa-cc-paypal fa-lg"></i>
              </li>
              <li>
                <i class="fab fa-cc-visa fa-lg"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="head">
            Connect
          </div>
          <div class="body">
            <ul>
              <li>
                <a href="https://www.facebook.com/ZuricartKE/" target="_blank">
                  <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/zuricartke" target="_blank">
                  <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/zuricartke/" target="_blank">
                  <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/u/0/108673607692864501872" target="_blank">
                  <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="top-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="footer-container">
            <div class="foot-head">
              Help
            </div>
            <div class="foot-body">
              <ul>
                <li>
                  <a href="#">How to Order</a>
                </li>
                <li>
                  <a href="#">Cancellations &amp; returns</a>
                </li>
                <li>
                  <a routerLink="/blogs">Blogs</a>
                </li>
                <li>
                  <a routerLink="/page/sitemap">Sitemap</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-container">
            <div class="foot-head">
              Privacy Info
            </div>
            <div class="foot-body">
              <ul>
                <li>
                  <a routerLink="privacy-policy">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Terms &amp; Conditions</a>
                </li>
                <li>
                  <a routerLink="faq">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-container">
            <div class="foot-head">
              Company
            </div>
            <div class="foot-body">
              <ul>
                <li>
                  <a routerLink="customer-service">Customer Service</a>
                </li>
                <li>
                  <a href="#">Cancellations &amp; returns</a>
                </li>
                <li>
                  <a href="#">Help</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="footer-container">
            <div class="foot-head">
              Stay Connected
            </div>
            <div class="foot-body">
              <ul class="bSocial">
                <li>
                  <a href="https://www.facebook.com/ZuricartKE/" target="_blank">
                    <i class="fab fa-facebook-f fa-lg" aria-hidden="true"></i><span>Facebook</span>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/zuricartke" target="_blank">
                    <i class="fab fa-twitter fa-lg" aria-hidden="true"></i><span>Twitter</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/zuricartke/" target="_blank">
                    <i class="fab fa-instagram fa-lg" aria-hidden="true"></i><span>Instagram</span>
                  </a>
                </li>
                <li>
                  <a href="https://plus.google.com/u/0/108673607692864501872" target="_blank">
                    <i class="fab fa-google-plus fa-lg" aria-hidden="true"></i><span>Google</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="footer-container">
            <div class="foot-head">
              Subscribe Newsletter
            </div>
            <div class="foot-body newsletter">
              <small>Subscribe to our newsletter to receive special offers and latest news.</small>
              <form class="form-inline">
                <div class="form-group mb-2">
                  <input type="text" class="form-control" id="email" value="email@example.com">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  
  <div class="copyright">
    <div class="container">
      Copyright &copy; {{date| date:'yyyy'}} Zuricart Limited. All Rights Reserved.
    </div>
  </div>
</footer>
