a,
a:hover {
    color: #706e6f;
    text-decoration: none
}

ul li {
    border: none
}
ul li .hmenu-icon{
    float: left;
    width: 15%;
    text-align: center;
}
ul li .hmenu-text {
    font-size: 12px;
    border: 1px solid #FFF;
    float: left;
    width: 70%;
}
ul li .hmenu-carrot{
    float: left;
    width: 15%;
    text-align: right;
    padding-right: 3px;
    color: #355d87;
}

#main_menu .main_list h1,
#main_menu .main_list h2 {
    margin: 0;
    font-size: inherit;
    line-height: 30px
}

#main_menu {
    background-color: #FFF;
    float: left;
    padding: 0;
    width: 160px;
    min-height: 290px;
    line-height: 30px;
    border-radius: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-top: none
}

#main_menu .main_list {
    color: #292727;
    list-style-type: none;
}

#main_menu .main_list h1 {
    font-weight: inherit;
    font-family: inherit
}

#main_menu .main_list i {
    font-size: 13px;
    color: #5a5a56;
    padding-right: 10px
}

#main_menu .main_list a:hover,
#main_menu .main_list:hover,
#main_menu .main_list:hover i {
    color: #FFF;
    background: #FFF;
    cursor: pointer
}

#main_menu .main_list a:hover .hmenu-text,
#main_menu .main_list:hover .hmenu-text,
#main_menu .main_list a:hover .hmenu-icon,
#main_menu .main_list:hover .hmenu-icon {
    color: #345d89
}

.offer_link {
    border-bottom: 1px solid #870040;
    border-top: 1px solid #870040
}

.offer_link a,
.offer_link a i {
    color: #870040;
    font-size: 15px;
    font-weight: 500
}

.main_list .list-content {
    background-color: #fff;
    top: 0;
    position: absolute;
    left: 172px;
    width: 954px;
    padding: 0 0 10px;
    float: left;
    z-index: 99999;
    border: 1px solid #DDD;
    height: 100%;
    max-height: 290px;
}

.list-content .dk-col {
    padding-top: 5px;
    float: left;
    max-height: 385px;
    background: #fff;
    width: 24%;
    border-right: 1px solid #DDD
}

.list-content .dk-col-2 {
    margin-top: 20px;
    float: left;
    height: 557px;
    background: #fff;
    width: 40%
}

.list-content .dk-col a.view,
.list-content .dk-col p a {
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    width: 167px
}

.list-content .dk-col p {
    padding: 0 17px 0 16px;
    overflow: hidden;
    margin: 0
}

.list-content .dk-col p a:hover {
    text-decoration: underline!important;
    color: #870040!important;
    background-color: #FFF!important
}

.list-content .dk-col p a.link {
    font-size: 12px;
    font-family: inherit;
    color: #605f5d;
    text-decoration: none
}

.list-content .dk-col p a.headingText {
    font-size: 13px;
    font-family: inherit;
    font-weight: 700;
    color: #37474e
}

.list-content .dk-col a.view {
    font-size: 12px;
    font-family: inherit;
    text-decoration: underline;
    padding: 0 17px 0 16px;
    margin: 0
}

.main_list:hover .list-content {
    display: block
}

.main_list .list-content {
    display: none
}