<div class="desktop_view">
  <div class="container">
    <h3>Customer Service</h3>

    <h4>SHIPPING & DELIVERY</h4>
    <p>
        Shipping and Delivery is the charge for Internet order processing, item selection, packaging, transport and handling.  At Zuricart reliability is key to us and we guarantee to deliver your product  the samw day for products ordered wihhin Nairobi and next day deliveries outside Nairobi. Below is a standard shipping rates table for items ordered on Zuricart
    </p>

    <h4>RETURNS & REPLACEMENTS</h4>
    <p>
        <strong>We want you to be completely happy with your order.</strong> If for any reason you are not satisfied, we will gladly accept your timely return of your defective product. Used merchandise cannot be returned unless defective. Returned merchandise should include the vendor packaging and tags and be in the same condition as when it was received. A pickup and/or restock fee may apply. The Product must be returned within 7 days of receipt of merchandise.
    </p>

    <h5>RETURNING PRODUCTS BY COURIER</h5>
    <p>
        On the back of the receipt enclosed with your order, please note the reason(s) for return and whether you wish to exchange the item(s) or receive a refund (depending on the original form of payment). Enclose the return section of the packing slip with your item(s). Please use one of the return labels provided on the front of your packing slip to ensure proper return address and credit information.
    </p>

    <p><strong>Please allow 7 days for the processing of your return.</strong></p>
  </div>
</div>
