.modal-close,
a {
    text-decoration: none
}

a {
    color: #706e6f;
    outline: 0
}

.hmenu {
    padding-right: 0
}

.hslider {
    padding-left: 0
}

.hslider img {
    width: 100%
}
.top-prod{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin: 20px 0px;
    background-color: #FFF;
    display: none;
}
.top-prod .header{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

#hm-sec-2 {
    display: none
}
#hm-sec-3 {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin: 20px 0px;
    background-color: #FFF;
}
.nav-item{

}
.nav-item .nav-link{
    
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #355d87;
    border-top: #355d87 2px solid;
    border-radius: 0px;
    border-color: #355d87 #355d87 #fff;
}
.nav-tabs {
    border-bottom: 1px solid #355d87;
    background-color: #f49c38;
}
.pt-value {
    margin-bottom: 18px
}

.pt-value .pt-val-cont .val-icon {
    width: 40%;
    float: left;
    background-color: #02a09d;
    padding: 5px
}

.pt-value .pt-val-cont .val-text {
    width: 60%;
    float: left;
    color: #FFF;
    text-align: left
}

.pt-value .pt-val-cont .val-text .val-text-top {
    display: block;
    font-size: 1.2em;
    font-weight: unset
}

.pt-value .pt-val-cont .val-text .val-text-bottom {
    display: block;
    font-weight: 100
}

.pt-ad-img {
    position: relative;
    overflow: hidden;
    transition: all .2s ease-in-out
}

.pt-ad-img img {
    width: 100%
}

.pt-ad-img:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.fProds-container {
    padding: 10px
}

.fProds-item {
    float: left;
    width: 20%
}

.fProds-item .product-container .product-inner .product-img img {
    width: 90%
}
#all-brands{padding:30px 0 0;background-color:#FFF}
.brands-container .brand-cont{
    float:left;margin:0 5px;position:relative;overflow:hidden;border:1px solid #FFF}
    .brands-container .brand-cont:hover{border-color:#ddd}
    .brands-container .brand-cont a img{width:80px}

.blog-section {
    padding: 20px 0
}

.blog-section .header {
    margin-bottom: 10px;
    border-bottom: 1px solid #02a09d;
    padding-bottom: 2px
}

.blog-section .header .title {
    background-color: #02a09d;
    color: #FFF;
    padding: 5px
}

.blog-section .header .view-link {
    float: right;
    margin-right: 10px;
    margin-bottom: 6px
}

.blog-section .body .row {
    margin: 0
}

.blog-section .body .blog-container .card,
.blog-section .body .blog-container .card .card-img-top {
    border-radius: 0
}

.blog-section .body .blog-container .card .card-body {
    padding: .6rem
}

.mobile_view .blog-section .col-6,
.mobile_view .featured .fProds-container {
    padding: 0
}

.blog-section .body .blog-container .card .card-body .card-title {
    color: #424d82;
    height: 40px;
    overflow: hidden;
    font-size: 1rem
}

.blog-section .body .blog-container .card .card-body .card-text {
    font-size: 12px;
    overflow: hidden;
    height: 50px
}
#daily-deals{
    margin: 5px 0px;
}
.daily-container{

}
.daily-inner{

}
.daily-info{
    /* width: 20%; */
    float: left;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    line-height: 32px;
}
.daily-info .top{
    font-weight: 700;
    font-size: 47px;
}
.daily-info .bottom{
    font-family: cursive;
}
.daily-info .link{
    background-color: #3b6a9c;
    padding: 5px 0px;
    
}
.daily-info .link a{
    color: #FFF;
    font-size: 22px;
}
.daily-products{
    width: 80%;
    float: left;
    height: 143px;
}
.daily-products .fProds-item{
    width: 25%;
    position: relative;
    height: 100%;
    border-left: 1px solid #DDD;
}
.daily-products .fProds-item .badge {
    left: 1px;
    top: 0;
    padding: 0;
    text-align: left;
    overflow: hidden;
    width: 61px;
    height: 55px;
    right: 3px;
    display: block;
    position: absolute;
    z-index: 99;
    border-radius: 0px;
}
.daily-products .fProds-item .badge:before {
    content: "";
    width: 100px;
    height: 100px;
    background: #f49c38;
    display: block;
    position: absolute;
    left: -60px;
    top: -58px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,.4);
    transform: rotate(48deg);
    -webkit-transform: rotate(48deg);
    -moz-transform: rotate(48deg);
    -o-transform: rotate(48deg);
    -ms-transform: rotate(48deg);
}
.daily-products .fProds-item .badge .percent {
    background: 0 0;
    padding: 4px 0 0 4px;
    line-height: 12px;
    font-size: 12px;
    width: 38px;
    height: 34px;
    display: block;
    position: relative;
    color: #FFF;
}
.daily-products .fProds-item .badge span {
    text-transform: lowercase;
    display: block;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}
.daily-products .product-img{
    width: 36%;
    float: left;
}
.daily-products .product-info{

}
.daily-products .product-info .prod-title{

}
.daily-products .product-info .prod-price{
    margin-top: 40px;
}
.daily-products .product-container {
    padding-top: 37px;
    height: 100%;
    margin: 0px;
}
.daily-products .product-container:hover .product-inner {
    border-color: #fff!important;
}
.mobile_view .category {
    overflow-x: scroll;
    width: 100%;
    overflow-y: hidden
}

.mobile_view .category ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.mobile_view .category ul li {
    list-style: none;
    width: 31%;
    float: left;
    /* border: 1px solid #305d8d70; */
    margin: 5px 1%;
    text-align: center;
    height: 75px;
}

.mobile_view .category ul li .icon {
    /* width: 100%;
    font-size: 20px; */
    display: inline-block; 
    width: 56px;
    height: 56px;
    line-height: 56px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 0 5px 0;
}

.mobile_view .category ul li .icon img {
    width: 70%;
}

.mobile_view .category ul li .text {
    font-size: 11px;
    height: 25px;
}

.mobile_view .featured .fProds-container .fProds-item {
    width: 50%;
    border: 1px solid #ddd;
    border-bottom: none
}

.mobile_view .fProds-item .product-container .product-inner .product-img img {
    width: 75%;
    margin: auto 12%
}

.mobile_view .discount {
    display: none
}

.mobile_view .blog-section .roW {
    margin: 0
}

.mobile_view .blog-section .col-6 .blog-container {
    padding: 0 10px
}

.mobile_view .category-strip {
    margin: 10px 0
}

.mobile_view .category-strip .strip {
    padding: 5px 0
}

.mobile_view .category-strip .strip img {
    width: 100%
}

.mobile_view .txt-link {
    background-color: #FFF;
    border: none;
    color: inherit
}

.modal-window {
    position: fixed;
    background-color: rgba(86, 84, 84, .4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto
}

.modal-window>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
    border: 2px solid #42a19b
}

.modal-window header {
    font-weight: 700
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px
}

.modal-close:hover {
    color: #000
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
    color: #42a19b
}

@media (min-width:320px) and (max-width:480px) {
    .category-prods,#daily-deals .daily-info,
    .hmenu {
        display: none
    }
    .hslider {
        padding: 0
    }
    .carousel-indicators {
        bottom: -10px
    }
    .daily-products{
        width: 100%;
        height: auto;
    }
    .daily-products .fProds-item {
        width: 49%;
        border: 1px solid #f49c38;
        margin: 5px 0.5%;
    }
    .daily-products .product-info .prod-price {
        margin-top: 20px;
    }
}