<div class="mobile_view" *ngIf="mobile_view">
  <app-top-search></app-top-search>
  <div class="slider">
    <app-main-slider></app-main-slider>
  </div>
  <div class="category">
    <ul>
      <ng-container  *ngFor="let c of mainMenu">
        <li>
        <a routerLink="/products/{{ c.url }}">
          <div class="cat-container">
              <ng-container *ngIf=" c._id == '5b9b70ac67e37c00042bf310' ">
                <div class="icon" style="background-color: #cd0027;">
                  <img src="{{c.icon}}" alt="{{c.title}}">
                  </div>
              </ng-container>
              <ng-container *ngIf=" c._id == '5bab509c819a390004aace73' ">
                <div class="icon" style="background-color: #a5b72f;">
                  <img src="{{c.icon}}" alt="{{c.title}}">
                  </div>
              </ng-container>
                <ng-container *ngIf=" c._id == '5bab50e2819a390004aace74' ">
                    <div class="icon" style="background-color: #1885c2;">
                      <img src="{{c.icon}}" alt="{{c.title}}">
                      </div>
                </ng-container>
                <ng-container *ngIf=" c._id == '5bab50f7819a390004aace75' ">
                      <div class="icon" style="background-color: #b5934a;">
                        <img src="{{c.icon}}" alt="{{c.title}}">
                        </div>
                    </ng-container><ng-container *ngIf=" c._id == '5bab5109819a390004aace76' ">
                        <div class="icon" style="background-color: #b5934a;">
                          <img src="{{c.icon}}" alt="{{c.title}}">
                          </div>
                      </ng-container><ng-container *ngIf=" c._id == '5baf5dbae8c024000496d1e6' ">
                          <div class="icon" style="background-color: #18d1e7;">
                              <img src="{{c.icon}}" alt="{{c.title}}">
                            </div>
                        </ng-container>
            <!-- <div class="icon">
              <i class="{{ c.icon }}"></i>
            </div> -->
            <div class="text">
              {{ c.title }}
            </div>
          </div>
        </a><div class="clearfix"></div>
        </li>
      </ng-container>
      <div class="clearfix"></div>
    </ul>
  </div>
  <section id="daily-deals">
    <div class="daily-container">
      <div class="daily-inner">
        <div class="daily-info">
          <a routerLink="/offers">
            <img src="assets/images/daily-deals.png" alt="">
          </a>
          <!-- <span class="top">Daily</span>
          <span class="bottom">Deals</span>
          <div class="link">
            <a routerLink="/offers">View All Deals -></a>
          </div> -->
        </div>
        <div class="daily-products">
            <div  class="fProds-item" *ngFor="let offer of offerProd">
                <div  class="product-container">
                  <a  class="" routerLink="/product/{{offer.url}}">
                    <div class="badge">
                        <div class="percent">
                          {{(offer.price-offer.special_price)/100 | number :'1.0-0'}}% <span>off</span>
                        </div>
                        </div>
                    <div  class="product-inner">
                      <div  class="product-img">
                          <img src="{{ offer.images[0][0] }}" alt="{{ offer.title }}">
                      </div>
                      <div  class="product-info">
                        <div  class="prod-title" [innerHtml]="offer.title"></div>
                        <div  class="prod-price"> Ksh. {{ offer.special_price | number:0 }}</div>
              <div  class="prod-rate"></div></div>
            </div>
            </a>
            </div>
            </div>
         <div  class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <div class="featured">
    <app-loading *ngIf="loading"></app-loading>
    <ng-template [ngIf]="utils.isLoaded(loading)">
      <ng-template [ngIf]="featuredProducts">
        <ng-template [ngIf]="featuredProducts.length">
          <div class="fProds-container">
            <div class="fProds-item" *ngFor="let fearured of featuredProducts">
              <div class="product-container">
                <a [routerLink]="['/product', fearured.product.url]" class="">
                  <div class="product-inner">
                    <div class="product-img">
                      <img src="{{ fearured.product.images[0][0] }}" alt="{{ fearured.product.title }}">
                    </div>
                    <div class="product-info">
                      <div class="prod-title" [innerHtml]="fearured.product.title"></div>
                      <div class="prod-price">
                        <ng-container *ngIf="fearured.product.special_price ==0">
                          Ksh. {{ fearured.product.price | number:0 }}
                        </ng-container>
                        <ng-container *ngIf="fearured.product.special_price !=0">
                          Ksh. {{ fearured.product.special_price | number:0 }}
                          <div class="discount">
                            Ksh. {{ fearured.product.price | number:0 }}
                          </div>
                        </ng-container>
                      </div>
                      <div class="prod-rate">

                      </div>
                    </div>
                    <ng-container *ngIf="fearured.product.special_price !=0">
                      <div class="ribbon"><span>Offer</span></div>
                    </ng-container>
                  </div>
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
  <section class="category-strip">
    <div class="strip">
      <ng-container *ngFor="let cat of category">
      <a routerLink="{{cat.bottom_image.link}}">
        <img src="{{cat.bottom_image.img}}" alt="{{cat.bottom_image.alt}}">
      </a>
      </ng-container>
    </div>
  </section>
  <section class="blog-section">
    <div class="">
      <div class="header">
        <span class="title">Blogs</span>
        <div class="view-link">
          <a routerLink="/blogs">View All</a>
        </div>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-6" *ngFor="let blog of blogs">
            <div class="blog-container">
              <div class="card">
                  <ng-container *ngIf="blog.thumb_image != ''">
                      <img class="card-img-top" src="{{blog.thumb_image}}" alt="{{blog.title}}">
                  </ng-container>
                  <ng-container *ngIf="blog.thumb_image == ''">
                      <img class="card-img-top" src="https://placeimg.com/286/180/tech" alt="{{blog.title}}">
                  </ng-container>
                <div class="card-body">
                  <a routerLink="/blog/{{blog.url}}" class="txt-link">
                    <h5 class="card-title" [innerHtml]="blog.title"></h5>
                    <p class="card-text" [innerHtml]="blog.short_content"></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="home-page" class="container desktop_view" *ngIf="desktop_view">
  <div id="home-top" class="row">
    <div class="col-md-2 hmenu">
      <app-home-menu></app-home-menu>
    </div>
    <div class="col-md-10 hslider">
      <app-main-slider></app-main-slider>
    </div>
  </div>
  <section id="daily-deals">
    <div class="daily-container">
      <div class="daily-inner">
        <div class="daily-info">
          <a routerLink="/offers">
            <img src="assets/images/daily-deals.png" alt="">
          </a>
          <!-- <span class="top">Daily</span>
          <span class="bottom">Deals</span>
          <div class="link">
            <a routerLink="/offers">View All Deals -></a>
          </div> -->
        </div>
        <div class="daily-products">
            <div  class="fProds-item" *ngFor="let offer of offerProd">
                <div  class="product-container">
                  <a  class="" routerLink="/product/{{offer.url}}">
                    <div class="badge">
                        <div class="percent">
                          {{(offer.price-offer.special_price)/100 | number :'1.0-0'}}% <span>off</span>
                        </div>
                        </div>
                    <div  class="product-inner">
                      <div  class="product-img">
                          <img src="{{ offer.images[0][0] }}" alt="{{ offer.title }}">
                      </div>
                      <div  class="product-info">
                        <div  class="prod-title" [innerHtml]="offer.title"></div>
                        <div  class="prod-price"> Ksh. {{ offer.special_price | number:0 }}</div>
              <div  class="prod-rate"></div></div>
            </div>
            </a>
            </div>
            </div>
         <div  class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <section id="all-brands" class="clearfix">
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="bg"></div>
      </div> -->
      <div class="col-md-12">
          <div class="brands-container">
              <div class="brands-strip">
                <ng-container *ngFor="let b of brands">
                  <div class="brand-cont">
                    <a [routerLink]="['/brand', b.url]" title="{{b.title}}">
                      <img src="{{b.logo}}" alt="{{b.title}}">
                    </a>
                  </div>
                </ng-container>
              </div>
            </div>
      </div>
    </div>
  </section>
  <section id="hm-sec-3">
    <ul class="nav nav-tabs" id="hmTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="true">Featured Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">Latest Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="upcoming-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="upcoming" aria-selected="false">Upcoming Products</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
      <app-loading *ngIf="loading"></app-loading>
      <ng-template [ngIf]="utils.isLoaded(loading)">
        <ng-template [ngIf]="featuredProducts">
          <ng-template [ngIf]="featuredProducts.length">
            <div class="fProds-container">
              <div class="fProds-item" *ngFor="let fearured of featuredProducts">
                <div class="product-container">
                  <a [routerLink]="['/product', fearured.product.url]" class="">
                    <div class="product-inner">
                      <div class="product-img">
                        <img src="{{ fearured.product.images[0][0] }}" alt="{{ fearured.product.title }}">
                      </div>
                      <div class="product-info">
                        <div class="prod-title" [innerHtml]="fearured.product.title"></div>
                        <div class="prod-price">
                          <ng-container *ngIf="fearured.product.special_price ==0">
                            Ksh. {{ fearured.product.price | number:0 }}
                          </ng-container>
                          <ng-container *ngIf="fearured.product.special_price !=0">
                            Ksh. {{ fearured.product.special_price | number:0 }}
                            <div class="discount">
                              Ksh. {{ fearured.product.price | number:0 }}
                            </div>
                          </ng-container>
                        </div>
                        <div class="prod-rate">

                        </div>
                      </div>
                      <ng-container *ngIf="fearured.product.special_price !=0">
                        <div class="ribbon"><span>Offer</span></div>
                      </ng-container>
                    </div>
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
    <div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
      <ng-template [ngIf]="utils.isLoaded(loading)">
        <ng-template [ngIf]="latestProducts">
          <ng-template [ngIf]="latestProducts.length">
            <div class="fProds-container">
              <div class="fProds-item" *ngFor="let product of latestProducts">
                <div class="product-container">
                  <a [routerLink]="['/product', product.url]" class="">
                    <div class="product-inner">
                      <div class="product-img">
                        <img src="{{ product.images[0][0] }}" alt="{{ product.title }}">
                      </div>
                      <div class="product-info">
                        <div class="prod-title" [innerHtml]="product.title"></div>
                        <div class="prod-price">
                          <ng-container *ngIf="product.stock != 2">
                            <ng-container *ngIf="product.special_price == 0">
                              Ksh. {{ product.price | number:0 }}
                            </ng-container>
                            <ng-container *ngIf="product.special_price !=0">
                              Ksh. {{ product.special_price | number:0 }}
                              <div class="discount">
                                Ksh. {{ product.price | number:0 }}
                              </div>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="product.stock == 2">
                            <div class="upcoming">
                              Upcoming
                            </div>
                          </ng-container>
                        </div>
                        <div class="prod-rate">

                        </div>
                      </div>
                      <ng-container *ngIf="product.special_price !=0">
                        <div class="ribbon"><span>Offer</span></div>
                      </ng-container>
                    </div>
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
    <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
      <ng-template [ngIf]="upcomingProducts">
          <ng-template [ngIf]="upcomingProducts.length">
            <div class="fProds-container">
              <div class="fProds-item" *ngFor="let product of upcomingProducts">
                <div class="product-container">
                  <a [routerLink]="['/product', product.url]" class="">
                    <div class="product-inner">
                      <div class="product-img">
                        <img src="{{ product.images[0][0] }}" alt="{{ product.title }}">
                      </div>
                      <div class="product-info">
                        <div class="prod-title" [innerHtml]="product.title"></div>
                        <div class="prod-price">
                          <ng-container *ngIf="product.stock != 2">
                            <ng-container *ngIf="product.special_price == 0">
                              Ksh. {{ product.price | number:0 }}
                            </ng-container>
                            <ng-container *ngIf="product.special_price !=0">
                              Ksh. {{ product.special_price | number:0 }}
                              <div class="discount">
                                Ksh. {{ product.price | number:0 }}
                              </div>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="product.stock == 2">
                            <div class="upcoming">
                              Upcoming
                            </div>
                          </ng-container>
                        </div>
                        <div class="prod-rate">

                        </div>
                      </div>
                      <ng-container *ngIf="product.special_price !=0">
                        <div class="ribbon"><span>Offer</span></div>
                      </ng-container>
                    </div>
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </ng-template>
        </ng-template>
    </div>
  </div>
  </section>
  <section class="top-prod">
    <div class="header">
      Daily Deals
    </div>
      <app-loading *ngIf="loading"></app-loading>
      <ng-template [ngIf]="utils.isLoaded(loading)">
        <ng-template [ngIf]="featuredProducts">
          <ng-template [ngIf]="featuredProducts.length">
            <div class="fProds-container">
              <div class="fProds-item" *ngFor="let fearured of featuredProducts">
                <div class="product-container">
                  <a [routerLink]="['/product', fearured.product.url]" class="">
                    <div class="product-inner">
                      <div class="product-img">
                        <img src="{{ fearured.product.images[0][0] }}" alt="{{ fearured.product.title }}">
                      </div>
                      <div class="product-info">
                        <div class="prod-title" [innerHtml]="fearured.product.title"></div>
                        <div class="prod-price">
                          <ng-container *ngIf="fearured.product.special_price ==0">
                            Ksh. {{ fearured.product.price | number:0 }}
                          </ng-container>
                          <ng-container *ngIf="fearured.product.special_price !=0">
                            Ksh. {{ fearured.product.special_price | number:0 }}
                            <div class="discount">
                              Ksh. {{ fearured.product.price | number:0 }}
                            </div>
                          </ng-container>
                        </div>
                        <div class="prod-rate">

                        </div>
                      </div>
                      <ng-container *ngIf="fearured.product.special_price !=0">
                        <div class="ribbon"><span>Offer</span></div>
                      </ng-container>
                    </div>
                  </a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>
  </section>
  <section id="hm-sec-5">
      <div class="row">
        <div class="col-md-4" *ngFor="let ad of middleAd">
          <div class="pt-ad-img">
            <a routerLink="{{ ad.link }}">
              <img src="{{ad.image}}" alt="{{ad.alt}}">
            </a>
          </div>
        </div>
      </div>
    </section>
  <section class="top-prod">
      <div class="header">
        Popular Products
      </div>
      <ng-template [ngIf]="utils.isLoaded(loading)">
          <ng-template [ngIf]="latestProducts">
            <ng-template [ngIf]="latestProducts.length">
              <div class="fProds-container">
                <div class="fProds-item" *ngFor="let product of latestProducts">
                  <div class="product-container">
                    <a [routerLink]="['/product', product.url]" class="">
                      <div class="product-inner">
                        <div class="product-img">
                          <img src="{{ product.images[0][0] }}" alt="{{ product.title }}">
                        </div>
                        <div class="product-info">
                          <div class="prod-title" [innerHtml]="product.title"></div>
                          <div class="prod-price">
                              <ng-container *ngIf="product.special_price == 0">
                                Ksh. {{ product.price | number:0 }}
                              </ng-container>
                              <ng-container *ngIf="product.special_price !=0">
                                Ksh. {{ product.special_price | number:0 }}
                                <div class="discount">
                                  Ksh. {{ product.price | number:0 }}
                                </div>
                              </ng-container>
                          </div>
                          <div class="prod-rate">
  
                          </div>
                        </div>
                        <ng-container *ngIf="product.special_price !=0">
                          <div class="ribbon"><span>Offer</span></div>
                        </ng-container>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </ng-template>
          </ng-template>
        </ng-template>
  </section>
  <app-home-category></app-home-category>
  <section class="blog-section">
    <div class="">
      <div class="header">
        <span class="title">Blogs</span>
        <div class="view-link">
          <a routerLink="/blogs">View All</a>
        </div>
      </div>
      <div class="body">
        <div class="row">
          <div class="col-md-3" *ngFor="let blog of blogs">
            <div class="blog-container">
              <div class="card">
                  <a routerLink="/blog/{{blog.url}}">
                  <ng-container *ngIf="blog.thumb_image != ''">
                      <img class="card-img-top" src="{{blog.thumb_image}}" alt="{{blog.title}}">
                  </ng-container>
                  <ng-container *ngIf="blog.thumb_image == ''">
                      <img class="card-img-top" src="https://placeimg.com/286/180/tech" alt="{{blog.title}}">
                  </ng-container>
                <div class="card-body">
                    <h5 class="card-title" [innerHtml]="blog.title"></h5>
                    <p class="card-text" [innerHtml]="blog.short_content"></p>
                </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="about-footer clearfix">
    <div class="container">
      <div class="head">
        Online Shopping on Zuricart - Kenya's No 1 Online Store
      </div>
      <div class="body">
        <p>Zuricart Online is a leading Online and Offline supplier of <b>smartphones</b>, <b>tablets</b>, <b>laptops</b>, <b>TVs</b>, <b>Cameras</b>, <b>Home theaters</b>, <b>printers</b>, and other ICT products at affordable prices committed to becoming the most trusted marketplace by offering superior shopping experience, rapid delivery, and stellar customer service.
          We bring the best in electronics and more directly to you, from a company you can trust. We are unique in the world of retailing; an electronics shop with the personal touch of your local retailer.
          Established in 2015 by indigenous Kenyan professionals in the ecommerce industry has within a short period established itself in online shopping and offline market as a key provider of quality and affordable Electronic products both in public and private sectors.
          Zuricart enhances the effectiveness of Electronic resources for your business growth by taking up world’s leading Electronic products and developed strategic partners /relationships with principal equipment vendors that enable us deliver optimal products and affordable prices.
          Whether you are a novice or a tech guru, you are sure to enjoy shopping at Zuricart. We work passionately to exceed your expectations every time.</p>
      </div>
    </div>
  </div>
  <div class="delivery-footer clearfix">
    <div class="body">
        <ul>
          <li>
            We Ship To : 
          </li>
          <li>Mombasa |</li><li>Nairobi CBD |</li><li>Baraton |</li><li>Bungoma |</li><li>Burnt Forest |</li><li>Chwele |</li><li>Eldoret |</li>
          <li>Iten |</li><li>Kabarnet |</li><li>Kapenguria |</li><li>Kapsabet |</li><li>Kimilili |</li><li>Kitale |</li><li>Lodwar |</li>
          <li>Lokichogio |</li><li>Lugari |</li><li>Malaba |</li><li>Moi's Bridge |</li><li>Mosoriot |</li><li>Mumias |</li><li>Nandi Hills |</li>
          <li>Nzoia |</li><li>Turbo |</li><li>Webuye |</li><li>Ahero |</li><li>Awendo |</li><li>Bondo |</li><li>Bomet |</li><li>Busia |</li>
          <li>Homabay |</li><li>Isebania |</li><li>Kakamega |</li><li>Kehancha |</li><li>Kendubay |</li><li>Kericho |</li><li>Keroka |</li>
          <li>Kilgoris |</li><li>Kisii |</li><li>Kisumu |</li><li>Litein |</li><li>Londiani |</li><li>Luanda |</li><li>Maseno |</li>
          <li>Mbale |</li><li>Mbita |</li><li>Migori |</li><li>Muhoroni |</li><li>Nambale |</li><li>Nyamira |</li><li>Ogembo |</li><li>Oyugis |</li>
          <li>Rachuonyo |</li><li>Rongo |</li><li>Sabatia |</li><li>Serem |</li><li>Siaya |</li><li>Sotik |</li><li>Ugunja |</li><li>Chogoria |</li>
          <li>Chuka |</li><li>Embu |</li><li>Garissa |</li><li>Igoji |</li><li>Isiolo |</li><li>Kagio |</li><li>Kangari |</li><li>Karatina |</li>
          <li>Kerugoya |</li><li>Kiganjo |</li><li>Kutus |</li><li>Makutano |</li><li>Makuyu |</li><li>Matuu |</li><li>Maua |</li><li>Meru |</li>
          <li>Mukurweini |</li><li>Murang'a |</li><li>Murarandia |</li><li>Mwea |</li><li>Mwingi |</li><li>Nanyuki |</li><li>Naro Moru |</li>
          <li>Nkubu |</li><li>Nyeri |</li><li>Othaya |</li><li>Ruiru |</li><li>Runyenjes |</li><li>Sabasaba |</li><li>Sagana |</li><li>Thika |</li>
          <li>Timau |</li><li>Eldama Ravine |</li><li>Gilgil |</li><li>Kijabe |</li><li>Limuru |</li><li>Molo |</li><li>Nakuru |</li><li>Narok |</li>
          <li>Njoro |</li><li>Nyahururu |</li><li>Olkalau |</li><li>Diani |</li><li>Emali |</li><li>Kibwezi |</li><li>Kilifi |</li><li>Kwale |</li>
          <li>Malindi |</li><li>Mariakani |</li><li>Mtito Andei |</li><li>Mtwapa |</li><li>Mwatate |</li><li>Sultan Hamud |</li><li>Taveta |</li>
          <li>Voi |</li><li>Watamu |</li><li>Wundanyi |</li><li>Athi River |</li><li>Gatundu |</li><li>Githinguri |</li><li>Kajiado |</li><li>Kiambu |</li>
          <li>Kikuyu |</li><li>Kitengela |</li><li>Kitui |</li><li>Machakos |</li><li>Masii |</li><li>Mwala |</li><li>Nairobi |</li><li>Ngong |</li>
          <li>Oloitoktok |</li><li>Ongata Rongai |</li><li>Tala/Kangundo |</li><li>Wote/Makueni |</li><li>Naivasha</li>
        </ul>
      </div>
  </div>
</div>
<ng-container *ngIf="showAlert">
<div id="open-modal" class="modal-window">
  <div>
    <h1>Thank You!</h1>
    <div>
      Your order Has been Placed
      You'll receive a call From The Customer Care
    </div>
    </div>
</div>
</ng-container>
