<a (click)="onSubmit()" *ngIf="mobile_view" class="mobile_view">
  <div class="cart-body clearfix">
    <div class="cart-left">
      <i class="fas fa-shopping-cart"></i>
      <div class="cart-total">
        <span>{{itemCount}}</span>
      </div>
    </div>
  </div>
  </a>
  <a (click)="onSubmit()" *ngIf="desktop_view">
  <div class="cart-body clearfix">
    <div class="cart-left">
      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
    </div>
    <div class="cart-total">
      {{itemCount}}
    </div>
  </div>
  </a>
  