.mobile_view .cart-body {
    border: none;
    width: 100%;
    margin: auto;
    position: relative
}

.mobile_view .cart-body .cart-left {
    height: inherit;
    float: none;
    padding: 0;
    color: #FFF;
    font-size: inherit;
    position: relative;
    background-color: #305d8d;
}

.mobile_view .cart-body .cart-total {
    background-color: #fff0;
    float: none;
    width: auto;
    padding: 0;
    color: inherit;
    font-weight: inherit;
    position: absolute;
    top: -7px;
    left: 14px;
    font-size: 11px;
}

.mobile_view .cart-body .cart-total span {
    color: #305d8d;
    background-color: #ffffffa1;
    padding: 1px 5px;
    border-radius: 20px;
}

.cart-body {
    border: none;
    width: 60%;
    margin: auto;
    position: relative;
}

.cart-body .cart-left {
    background-color: #f4a339;
    height: 40px;
    width: 40px;
    float: left;
    padding: 8px 5px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}
.cart-body .cart-left svg{
    font-size: 25px;
}

.cart-body .cart-count {
    padding: 4px 10px;
    position: absolute;
    bottom: 0;
    background-color: #6f6d6e;
    border-radius: 20px;
    font-size: 12px;
    right: 0
}

.cart-body .cart-total {
    float: left;
    width: 26px;
    height: 25px;
    padding: 5px;
    color: #355d87;
    font-weight: 700;
    position: absolute;
    left: 8px;
    top: 5px;
    border-radius: 25px;
}