.mobile_view .cart-body {
    border: none;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #f9a13a;
    height: 40px;
    margin-top: 5px;
}

.mobile_view .cart-body .cart-left {
    height: inherit;
    float: none;
    padding: 0;
    color: #FFF;
    font-size: inherit;
    position: relative;
}
.mobile_view .cart-body .cart-left img{
    width: 32px;
}
.mobile_view .cart-body .cart-total {
    background-color: #fff0;
    float: none;
    width: auto;
    padding: 0;
    color: #FFF !important;
    font-weight: 700;
    position: absolute;
    top: 2px;
    left: 35px;
    font-size: 15px;
}

.mobile_view .cart-body .cart-total span {
    color: #FFF;
    padding: 1px 5px;
    border-radius: 20px;
}

.cart-body {
    border: none;
    width: 60%;
    margin: auto;
    position: relative;
}

.cart-body .cart-left {
    height: 40px;
    width: 40px;
    float: left;
    padding: 8px 5px;
    color: #fff;
    position: relative;
    border-radius: 20px;
}
.cart-body .cart-left img{
    width: 35px;

}
.cart-body .cart-left svg{
    font-size: 23px;
    margin-top: 3px
}
.mobile_view .cart-body .cart-left svg{
    margin-top: 10px
}

.cart-body .cart-count {
    padding: 4px 10px;
    position: absolute;
    bottom: 0;
    background-color: #6f6d6e;
    border-radius: 20px;
    font-size: 12px;
    right: 0
}

.cart-body .cart-total {
    float: left;
    width: 26px;
    height: 25px;
    padding: 5px;
    color: #FFF;
    font-weight: 700;
    position: absolute;
    left: 26px;
    top: 1px;
    border-radius: 25px;
    background-color: #f49c38f2;
}