    <div class="dropdown">
      <button><i class="fas fa-bars fa-2x"></i></button>
      <ul id="main_menu" class="dropdown-menu">
        <li class="main_list" *ngFor="let c of mainMenu">
          <a routerLink="/products/{{ c.url }}">
            <div class="hmenu-icon">
              <i class="{{ c.icon }}"></i>
            </div>
            <div class="hmenu-text">
              {{ c.title }}
            </div>
            <div class="hmenu-carrot">
              <i class="fas fa-sort-up  fa-rotate-90"></i>
            </div>
          </a>
          <div class="list-content">
            <ng-container *ngFor="let cat of inMenu">
              <div class="dk-col" *ngIf="cat.parent === c._id">
                <p><a routerLink="/products/{{ cat.url }}" class="headingText">{{ cat.title }}</a></p>
                  <ng-container *ngFor="let cat1 of inMenu">
                    <p *ngIf="cat1.parent === cat._id"><a routerLink="/products/{{ cat1.url }}" class="link">{{ cat1.title }}</a></p>
                  </ng-container>
              </div>
            </ng-container>
          </div>
          <div class="clearfix"></div>
        </li>
        <li> 
          <a [routerLink]="['/upcoming-products']" class="upcoming">
            <div class="hmenu-text">
              Upcoming
            </div>
          </a>
        </li>
      </ul>
    </div>
  