.search-form .search-drop {
    float: left;
    margin: 0
}

.search-form .search-drop select {
    border: none;
    border-radius: 0;
    margin: 5px
}

.search-form .search-input {
    float: left;
    margin: 0;
    width: 85%;
    border: 1px solid #f49c38;
}

.search-form .search-input input {
    border: none;
    border-radius: 0;
}

.search-form .search-btn {
    float: left;
    background-color: #4aadaa;
}

.search-form .search-btn .btn {
    background-color: #f49a12;
    color: #FFF;
    border-radius: 0;
}

.search-mobile {
    padding: 5px 10px 2px
}

.search-mobile .search-drop {
    float: left;
    margin: 0
}

.search-mobile .search-drop select {
    border: none;
    border-radius: 0;
    margin: 5px
}

.search-mobile .search-input {
    margin: 0;
    width: 100%;
    border: 1px solid #d6dede;
    border-radius: 0px
}

.search-mobile .search-input input {
    border: none;
    border-radius: 0;
    padding: .3rem .2rem;
    height: 25px;
    font-size: 12px
}