<div class="blogs-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3" *ngFor="let blog of blogs">
            <div class="blog-main">
              <div class="blog-container">
                <div class="blog-inner">
                  <div class="blog-image">
                    <div class="blog-image-inner"></div>
                    <ng-container *ngIf="blog.thumb_image != ''">
                      <img src="{{blog.thumb_image}}" alt="{{blog.title}}">
                    </ng-container>
                    <ng-container *ngIf="blog.thumb_image == ''">
                      <img src="https://placeimg.com/286/180/tech" alt="{{blog.title}}">
                    </ng-container>                    
                  </div>
                  <div class="blog-details">
                    <div class="blog-tags">

                    </div>
                    <a routerLink="/blog/{{blog.url}}">
                      <div class="blog-title" [innerHtml]="blog.title"></div>
                    </a>
                    <div class="blog-short" [innerHtml]="blog.short_content"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
